body{
    /* overflow: hidden; */
    background-color: #93d2b3;
}
#main{
    padding: calc(100%/4) 100px;
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    /* background-color:#EDDFB3; */
}

.image{
    height: 100%;
    width: 90%;
    margin:10px 70px;
    border-radius: 35px;
    opacity: 0.86;
}
