#scan__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    width: 80vw;
    height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 10px 0 rgba(0, 0, 0, 0.12);  
    padding: 2rem;
    height: 80vh;
    border-radius: 10px;
    margin: 25px;
}

